# Standalone Prediction

In [29]:
# Imports
import pandas as pd

## Import des Modells

In [30]:
from joblib import load
reg = load('gradientboosted.model')

## Import der Daten
Hier bitte entweder über den Input-Dialog, oder direkt, den Dateinamen des einzulesenden Datensatzes eingeben.

In [31]:
filename = input("Bitte Dateiname des einzulesenden Datensatzes eingeben:") or "DatenTest.csv"

In [32]:
dataset = pd.read_csv(filename, delimiter=';', encoding = 'cp852')
dataset

,Grundstück in qm,Grundstücksform,Steigung,Bezirk,Zone,Lage,Typ,Zustand,Gebaut,Renoviert,...,Schlafzimmer,Küchen,Küchenqualitt,Rume,Garage Typ,Garagenkapazitt,Pool,Verkaufsmonat,Verkaufsjahr,Preis
0,898,IR1,Nein,Somerset,RL,Norm,2Fam,4,2107,2107,...,6,2,3,10,Anbau,2,NaN,8,2136,156500
1,725,Reg,Nein,Somerset,RL,Norm,1Fam,7,2096,2138,...,3,1,4,5,Freistehend,1,NaN,6,2140,137900
2,725,Reg,Nein,Somerset West,RL,Norm,1Fam,5,2135,2135,...,3,1,4,8,Anbau,2,NaN,4,2136,184000
3,211,Reg,Nein,North East,RL,Norm,RMH,5,2133,2134,...,2,1,4,6,Eingebaut,2,NaN,7,2139,173000
4,557,Reg,Nein,University,RL,Norm,1Fam,5,2056,2080,...,4,1,3,7,NaN,0,NaN,6,2136,102000
5,799,Reg,Ja,Water District,RM,Norm,1Fam,6,2067,2080,...,3,1,3,7,Freistehend,1,NaN,6,2136,119500

## Vorbereitung der Daten
Siehe auch Aufgabe 3
1. Entfernung unnötiger Spalten
2. One-Hot Encoding
3. Entfernen encodeter ursprünglicher Spalten
4. Auffüllen mit fehlenden One-Hot Encoding Spalten
5. Sortieren der Spalten um Modell zu entsprechen

In [33]:
df_keinunnoetig = dataset.drop(['Verkaufsjahr', 'Verkaufsmonat', 'Erster Stock in qm', 'Zweiter Stock in qm', 'Pool', 'Küchen', 'Klimaanlage', 'Heizung', 'Preis', 'Vorhergesagter Preis'], axis = 1, errors = 'ignore') ## errors = 'ignore' um nicht vorhandene Spalten einfach zu übergehen
encode_kategorien = ['Bezirk', 'Lage', 'Heizungsqualitt', 'Typ', 'Steigung', 'Grundstücksform', 'Garage Typ', 'Zone']
encoded_kategorieeigenschaften = pd.get_dummies(dataset[encode_kategorien].fillna('Keine'))
df_encoded = df_keinunnoetig.drop(encode_kategorien, axis = 1).join(encoded_kategorieeigenschaften)

needed_columns = ['Grundstück in qm', 'Zustand', 'Gebaut', 'Renoviert', 'Zustand Fassade',
       'Kellerflche in qm', 'Wohnflche in qm', 'Schlafzimmer', 'Küchenqualitt',
       'Rume', 'Garagenkapazitt', 'Bezirk_Burnley', 'Bezirk_ChinaTown',
       'Bezirk_City Hall', 'Bezirk_Clear Creek', 'Bezirk_DiamondDistrict',
       'Bezirk_Dixon Side', 'Bezirk_East End', 'Bezirk_Fashion District',
       'Bezirk_Grand Park', 'Bezirk_Miller', 'Bezirk_New Gotham',
       'Bezirk_North East', 'Bezirk_North West', 'Bezirk_Novick District',
       'Bezirk_Old Gotham', 'Bezirk_Paris Island', 'Bezirk_Robinson Park',
       'Bezirk_Somerset', 'Bezirk_Somerset West', 'Bezirk_Somerst',
       'Bezirk_The Bowery', 'Bezirk_Tricorner', 'Bezirk_University',
       'Bezirk_Upper West', 'Bezirk_Water District', 'Lage_Bahn', 'Lage_Norm',
       'Lage_Pos', 'Lage_Str', 'Heizungsqualitt_Ex', 'Heizungsqualitt_Gut',
       'Heizungsqualitt_Schl', 'Heizungsqualitt_Ty', 'Heizungsqualitt_Ud',
       'Typ_1Fam', 'Typ_2Fam', 'Typ_2FamAn', 'Typ_REH', 'Typ_RMH',
       'Steigung_Ja', 'Steigung_Nein', 'Grundstücksform_IR1',
       'Grundstücksform_IR2', 'Grundstücksform_IR3', 'Grundstücksform_Reg',
       'Garage Typ_2Typen', 'Garage Typ_Anbau', 'Garage Typ_CarPort',
       'Garage Typ_Eingebaut', 'Garage Typ_Freistehend', 'Garage Typ_Keine',
       'Garage Typ_TG', 'Zone_RH', 'Zone_RL', 'Zone_RM',
       'Bezirk_Finger River']

print("Fehlende Eigenschaften:",set(needed_columns).difference(set(df_encoded.columns)))
print("Eigenschaften werden jetzt angefügt..")

for column in needed_columns:
    if column not in df_encoded:
        df_encoded[column] = 0

df_encoded = df_encoded.reindex(columns = needed_columns)

Fehlende Eigenschaften: {'Lage_Str', 'Typ_2FamAn', 'Bezirk_Miller', 'Garage Typ_2Typen', 'Lage_Bahn', 'Bezirk_Burnley', 'Bezirk_Upper West', 'Bezirk_The Bowery', 'Heizungsqualitt_Gut', 'Heizungsqualitt_Schl', 'Garage Typ_CarPort', 'Bezirk_Grand Park', 'Bezirk_North West', 'Bezirk_East End', 'Bezirk_Somerst', 'Bezirk_Robinson Park', 'Bezirk_DiamondDistrict', 'Bezirk_Finger River', 'Bezirk_Old Gotham', 'Heizungsqualitt_Ud', 'Bezirk_Clear Creek', 'Zone_RH', 'Bezirk_Novick District', 'Bezirk_Dixon Side', 'Bezirk_Fashion District', 'Bezirk_Paris Island', 'Bezirk_City Hall', 'Lage_Pos', 'Bezirk_Tricorner', 'Grundstücksform_IR2', 'Grundstücksform_IR3', 'Typ_REH', 'Bezirk_New Gotham', 'Garage Typ_TG', 'Bezirk_ChinaTown'}
Eigenschaften werden jetzt angefügt..

## Prediction

In [34]:
y_pred = reg.predict(df_encoded)

In [35]:
dataset['Vorhergesagter Preis'] = y_pred

In [36]:
dataset

,Grundstück in qm,Grundstücksform,Steigung,Bezirk,Zone,Lage,Typ,Zustand,Gebaut,Renoviert,...,Küchen,Küchenqualitt,Rume,Garage Typ,Garagenkapazitt,Pool,Verkaufsmonat,Verkaufsjahr,Preis,Vorhergesagter Preis
0,898,IR1,Nein,Somerset,RL,Norm,2Fam,4,2107,2107,...,2,3,10,Anbau,2,NaN,8,2136,156500,178125.430501
1,725,Reg,Nein,Somerset,RL,Norm,1Fam,7,2096,2138,...,1,4,5,Freistehend,1,NaN,6,2140,137900,132763.958362
2,725,Reg,Nein,Somerset West,RL,Norm,1Fam,5,2135,2135,...,1,4,8,Anbau,2,NaN,4,2136,184000,184172.291638
3,211,Reg,Nein,North East,RL,Norm,RMH,5,2133,2134,...,1,4,6,Eingebaut,2,NaN,7,2139,173000,169755.797613
4,557,Reg,Nein,University,RL,Norm,1Fam,5,2056,2080,...,1,3,7,NaN,0,NaN,6,2136,102000,123539.988866
5,799,Reg,Ja,Water District,RM,Norm,1Fam,6,2067,2080,...,1,3,7,Freistehend,1,NaN,6,2136,119500,119955.047592

In [37]:
filename = input("Bitte Name der Ausgabedatei eingeben:") or "VorhersageAusgabe.csv"

In [38]:
if filename:
    dataset.to_csv(filename, sep = ';')

## Metriken berechnen
Folgend sollen folgende Metriken für den eingelesenen Datensatz berechnet werden:  
R2, MSE, RMSE, MAPE, MAX.

In [39]:
from sklearn.metrics import r2_score, mean_squared_error, max_error
import numpy as np

def mape (y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [40]:
y_true = dataset['Preis'].fillna(0)
print("R^2:", r2_score(y_true, y_pred))
print("MSE:", mean_squared_error(y_true, y_pred))
print("RMSE:", mean_squared_error(y_true, y_pred)**.5)
print("MAPE:", mape(y_true, y_pred))
print("MAX:", max_error(y_true, y_pred))

R^2: 0.8056826254276921
MSE: 161461815.0402826
RMSE: 12706.762571177704
MAPE: 6.83499366828869
MAX: 21625.43050082709